body {
  background-color: powderblue;
}
h1.one {
	text-align: center;
	color: black;
	border-bottom: 4px solid;
	border-color: black;
	padding-bottom: 2px;
	font-size: 30px;
}

h1.main_header
{
	text-align: center;
	color: black;
	font-size: 30px;
}

h2.secondary_header
{
	text-align: left;
	color: black;
	font-size: 30px;
}

p {
  color: red;
}


p.links_flex_box 
{
	display:flex;
	flex-wrap: wrap;
	background-color: powderblue;
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	gap: 50px;
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-color: black;
	padding-top: 4px;
	padding-bottom: 4px;
}

p.image_flex_box 
{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
}

.uniform-image {
  width: 600px;
  height: 400px;         /* Forces all images to these exact dimensions */
  object-fit: cover;     /* Crops and centers the image without stretching it */
  object-position: center; /* Optional: ensures the crop focuses on the center */
}